In [3]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.6-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.6

In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine
import psycopg2

cripto_engine = create_engine('postgresql+psycopg2://postgres:GuruSat.3@34.29.240.149/criptos')
updown_engine = create_engine('postgresql+psycopg2://postgres:GuruSat.3@34.29.240.149/criptos')

In [2]:
path = 'C:/Users/tinma/OneDrive/Escritorio/tradingbot/csvs/' 
pairs = os.listdir(path)
pairs = pd.DataFrame(pairs, columns=['pairs'])

'pairs'

In [60]:
downs = pairs[pairs['pairs'].str.contains('DOWN')]
ups = pairs[pairs['pairs'].str.contains('UP')]
ups_downs = pd.concat([ups, downs], ignore_index=True)
ups_downs = ups_downs[ups_downs['pairs'].str.contains('SUPERUSDT')==False]
ups_downs

         pairs
0    ADAUPUSDT
1    BNBUPUSDT
2    BTCUPUSDT
3    ETHUPUSDT
5  ADADOWNUSDT
6  BNBDOWNUSDT
7  BTCDOWNUSDT
8  ETHDOWNUSDT

In [63]:
for x in ups_downs['pairs']:
    pairs = pairs[pairs['pairs'].str.contains(x)==False]
pairs

         pairs
0    1INCHUSDT
1     AAVEUSDT
2      ACAUSDT
3      ACHUSDT
4      ACMUSDT
..         ...
349    YGGUSDT
350    ZECUSDT
351    ZENUSDT
352    ZILUSDT
353    ZRXUSDT

[346 rows x 1 columns]

In [66]:
for x in pairs['pairs']:
    df = pd.read_csv(path+x,names=['Tiempo','Simbolo','Precio'])
    os.remove(path+x)
    # df.to_sql(x,cripto_engine,index=False)
for x in ups_downs['pairs']:
    df = pd.read_csv(path+x,names=['Tiempo','Simbolo','Precio'])
    os.remove(path+x)
    # df.to_sql(x,updown_engine,index=False)

In [6]:
import datetime
print('la carga se realizo a las ', datetime.datetime.now())

la carga se realizo a las  2023-06-11 23:31:56.457257

In [ ]:
import pandas as pd
import os
from sqlalchemy import create_engine
import psycopg2

cripto_engine = create_engine('postgresql+psycopg2://postgres:GuruSat.3@34.29.240.149/criptos')
updown_engine = create_engine('postgresql+psycopg2://postgres:GuruSat.3@34.29.240.149/ups_downs')

path = '/home/tinmarian96/tradingbot/' 
pairs = os.listdir(path)
pairs = pd.DataFrame(pairs, columns=['pairs'])

downs = pairs[pairs['pairs'].str.contains('DOWN')]
ups = pairs[pairs['pairs'].str.contains('UP')]
ups_downs = pd.concat([ups, downs], ignore_index=True)
ups_downs = ups_downs[ups_downs['pairs'].str.contains('SUPERUSDT')==False]

for x in ups_downs['pairs']:
    pairs = pairs[pairs['pairs'].str.contains(x)==False]
    df = pd.read_csv(path+x,names=['Tiempo','Simbolo','Precio'])
    os.remove(path+x)
    df.to_sql(x,updown_engine,index=False)
for x in pairs['pairs']:
    df = pd.read_csv(path+x,names=['Tiempo','Simbolo','Precio'])
    os.remove(path+x)
    df.to_sql(x,cripto_engine,index=False)

In [9]:
list = []
if list:
    print(True)
else:
    print(False)

True