In [11]:
import os
import pandas as pd

In [12]:
path = 'C:/Users/tinma/OneDrive/Escritorio/tradingbot/csvs/streaming/'
pairs = os.listdir(path)
pairs = pd.DataFrame(pairs,columns=['pairs'])
pairs

         pairs
0    1INCHUSDT
1     AAVEUSDT
2      ACAUSDT
3      ACHUSDT
4      ACMUSDT
..         ...
350    YGGUSDT
351    ZECUSDT
352    ZENUSDT
353    ZILUSDT
354    ZRXUSDT

[355 rows x 1 columns]

In [55]:
df = pd.read_csv(path+'BTCUSDT',names=['Tiempo','Simbolo','Precio'])
(df.tail(1000).Precio.pct_change()+1).prod() - 1

0.005966409058865363

In [13]:
returns = []
for pair in pairs['pairs']:
    df = pd.read_csv(path+pair,names=['Tiempo','Simbolo','Precio'])[['Precio']]
    ret = (df.tail(1000).Precio.pct_change() + 1).prod() - 1
    returns.append(ret)

perf_h = pd.Series(returns).nlargest(10)
perf_l = pd.Series(returns).nsmallest(10)

In [27]:
pd.DataFrame(dict(zip(pairs['pairs'],returns)), index=[0])

,1INCHUSDT,AAVEUSDT,ACAUSDT,ACHUSDT,ACMUSDT,ADADOWNUSDT,ADAUPUSDT,ADAUSDT,ADXUSDT,AERGOUSDT,...,XTZUSDT,XVGUSDT,XVSUSDT,YFIIUSDT,YFIUSDT,YGGUSDT,ZECUSDT,ZENUSDT,ZILUSDT,ZRXUSDT
0,0.050633,0.016907,-0.038168,0.069649,0.0054,-0.041958,0.020833,0.007154,0.039725,0.016722,...,0.030769,0.028169,0.037681,0.013769,0.032252,0.062857,0.012653,-0.015576,0.034542,0.026272